

body {
    margin: 0px;
    padding: 0px;
    background-color: gray;
}


.wrapper-style {
    position: absolute;
    width: 1200px;
    height: 700px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    border: 5px solid black;


    .box {
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: lightblue;
        border-radius: 50%;
    }

    .bucket {
        position: absolute;
        width: 150px;
        height: 150px;
        background-color: blue;
        line-height: 150px;
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        left: 400px;
        top: 400px;
    }

    #box-1 {
        left: 50px;
    }

    #box-2 {
        left: 500px;
    }

    #box-3 {
        left: 600px;
    }

    #box-4 {
        left: 300px;
    }

    #box-5 {
        left: 800px;
    }

    #box-6 {
        left: 50px;
    }

    #box-7 {
        left: 100px;
    }

    #box-8 {
        left: 700px;
    }

    #box-9 {
        left: 900px;
    }

    #box-10 {
        left: 500px;
    }


    .restart {
        position: absolute;
        width: 200px;
        height: 100px;
        right: 0px;
        bottom: 0px;
        text-align: center;
        background-color: black;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        user-select: none;
        cursor: pointer;
        pointer-events: auto;
        z-index: 9999;
        line-height: 100px;
    }

    .scoreBox {
        position: absolute;
        width: 150px;
        height: 50px;
        left: 0px;
        bottom: 0px;
        text-align: center;
        background-color: rgba(0,0,0,0.5);
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        user-select: none;
       // cursor: pointer;
        pointer-events: none;
        z-index: 9999;
        line-height: 50px;
    }

    .timerDisplayBox {
        position: absolute;
        width: 150px;
        height: 50px;
        left: 0px;
        bottom: 54px;
        text-align: center;
        background-color: rgba(0,0,0,0.5);
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        user-select: none;
       // cursor: pointer;
        pointer-events: none;
        z-index: 9999;
        line-height: 50px;
    }

    .time-out {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 700px;
        text-align: center;
        font-size: 50px;
        pointer-events: none;
        display: none;
    }

    .completed {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 700px;
        text-align: center;
        font-size: 50px;
        pointer-events: none;
        display: none;
    }
}